html, body {
    background: rgb(20,156,207);
  background: linear-gradient(90deg, rgba(20,156,207,1) 0%, rgba(27,190,185,1) 46%, rgba(27,190,185,1) 90%);
}
  
  ::selection {
    background: white;
  }
  
  .title {
    font-family: "Fredoka One", sans-serif;
    color: #C3073F;
    text-align: center;
    font-size: 43px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  
  .instructions {
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #300523;
    text-align: center;
    margin-top: 10px;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
    padding-top: 30px;
  }
  
  .wrong {
    color: #e60000;
    font-weight: 600;
  }
  
  .right {
    color: #093d09;
    font-weight: 600;
  }
  
  
  .rules-about button {
    display: flex;
    border-radius: 6px;
    background-color: #04AA6D; /* Green background */
    border: 1px solid black; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    justify-content: center;
    align-items: center;
    height: 35px;
    float: center; /* Float the buttons side by side */
    width: 10%;
  }
  
  /* Clear floats (clearfix hack) */
  .rules-about: after {
    content: "";
    clear: both;
    display: table;
  }
  
  .rules-about button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .rules-about button:hover {
    background-color: #3e8e41;
    font-weight: 700;
  }
  
  
  .door-buttons .button {
    float: center;
    width: 33%;
    margin-top: 20px;
    padding: 100px;
    background-color: #ffff;
    font-size: 25px;
    font-weight: 700;
    color: #00000;
  }
  
  .door-buttons .button:hover {
    background-color: #56b04f;
  }
  
  
  
  .Switch-Stay .SwitchStay {
    color: #00000;
    background-color: #e7e7e7;
    font-weight: 700;
    margin-top: 15px;
    padding: 15px;
    border-radius: 8px;
  }
  
  .Switch-Stay .SwitchStay:hover {
    background-color: #999999;
  }
  
  *, *::after, *::before {
    box-sizing: border-box;
  }
  
  .info {
    color: #5a4a08;
    font-weight: 700;
  }
  
  
  .title1 {
    font-family: "Fredoka One", sans-serif;
    color: #C3073F;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  
  .modal-body {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    margin: 15px;
    padding: 7px;
  }
  
  .#modal {
    padding-bottom: 255px;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
  
  .modal1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1px;
    font-size: 17px;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  s: all;
  
  
  
  